.playlistCard {
    background: #2b7f85;
    color: #010015;
    width: 215px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #010015;
    margin: 0 auto;
}

.playlistCard:hover {
    transform: scale(1.05)
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .playlistCard {
        width: 268px;
        height: 268px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    .playlistCard {
        width: 380px;
        height: 380px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .playlistCard {
        width: 490px;
        height: 490px;
        font-size: 25px;
    }
}