#credentialContainer {
    background: #010015;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.credentialForms {
    background: #2d7e85;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #010015;
    width: 75%;
    margin: 0 auto;
}

.background {
    background: #ced7e0;
  }

.playlistHeaderContainer {
    padding: 5px 10px;
}

.video-container {
    margin-top: 15px;
}

#playlistHeader {
    background: #2b7f85;
    color: #010015;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
  
#playlistTitle {
text-align: center;
}
  
#playlistBtn {
    background: #f49f04;
    color: #010015;
    width: 130px;
    border-radius: 5px;
    padding: 4px;
    margin: auto;
}

.playlistContentContainer {
    height: 100%;
    background: #010015;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlistName {
    text-align: center;
    color:black;
    font-size: 30px;
}

.playlistDescription {
    text-align: center;
}

.songCardsContainer {
    padding-left: 0;
}

.playlistContent {
    background: #f49f04;
    padding: 35px;
    border-radius: 10px;
    width: 95%;
}

.playlistContent > div > label {
    font-size: 22px;
    font-weight: 700;
}

.playlistContent > button {
    background: #010015;
    color: #f8f9fa;
    font-size: 20px;
    padding: 7px;
    border-radius: 7px;
}

.playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 5px 0px;
}

.playlists > li {
    list-style-type: none;
}

@media only screen and (min-width: 768px) {
    #credentialContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .credentialForms {
        padding: 20px;
        width: 40%;
    }
    
    .playlistContent > div > textarea {
        height: 100px;
    }

    .playlists {
        padding: 10px;
    }
}

@media only screen and (min-width: 950px) {
    .playlists {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


@media only screen and (min-width: 1200px) {
    .playlistContent {
        width: 70%;
    }

    .playlists {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

