.footerContainer {
  background: url('/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#aboutApp {
  width: 45%;
}

#aboutApp h2 {
  color: #2d7e85;
  font-weight: 900;
}

#creators {
  width: 48%;
}

#creators > div {
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.creatorName {
  color: #f8f9fa;
}

.contact-icons {
  color: #2d7e85;
  font-size: 20px;
}

.contact-icons:hover {
  color: #f8f9fa;
}

@media only screen and (min-width: 768px) {
  #appName {
    font-size: 40px;
  }

  #aboutApp p {
    font-size: 25px;
  }

  .creatorName {
    font-size: 25px;
  }

  .contact-icons {
    font-size: 28px;
  }
}

@media only screen and (min-width: 992px) {
  .footerContainer {
    justify-content: flex-end;
  }

  #aboutApp {
    width: 50%;
  }

  #creators {
    width: 45%;
  }
  

  #appName {
    font-size: 40px;
  }

  #aboutApp p {
    font-size: 25px;
  }

  .creatorName {
    font-size: 28px;
  }

  .contact-icons {
    font-size: 30px;
  }
}