nav {
  background: #010015;
}

.nav-link {
  border-width: 0;
  background-color: transparent;
  font-style: normal;
}

nav i {
  font-size: 16px;
  color: #AAAAAA;
}

nav span {
  font-size: 16px;
  margin-left: 3px;
  color: #2d7e85;
}

nav a {
  display: flex;
  justify-content: center;
}

nav img {
  width: 100px;
  margin-top: 10px;
}

#logout-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  nav img {
    width: 90%;
    margin: 10px;
  }

  nav i {
    font-size: 25px;
  }

  nav span {
    font-size: 25px;
    margin-left: 5px;
  }

  #logout-icon {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

@media only screen and (min-width: 992px) {
  nav img {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  nav img {
    width: 90%;
  }
  
}